// ***********
// HEADERFOOTER
// ***********

@import 'main_var.scss';

body {
	font-family: $font;
	font-size: 100% !important;
	.main_container {
		margin: auto !important;
		font-size: $global_font_size;

		.logo {
			width: 300px;
			height: 50px;
			background-color: #efefef;
			margin: 12px 0;
			display: inline-block;
			img {
				width: 300px;
				height: 50px;
			}
		}


		.social_share {
			width: 300px;
			height: 50px;
			margin-bottom: 12px;
			display: inline-block;
			background-color: #efefef;

			.fb-like.fb_edge_widget_with_comment.fb_iframe_widget, .twitter iframe {
				float: right;
				margin: 15px;
			}
		}

		.active{
			background-color: #dddddd;
		}

		header {
			background-color: #206db2;
		}

		footer {
			background-color: #206db2;

			ul {
				list-style-type: none;
				float: left;
				padding-left: 20px; 
			}

			.mabutt {
				clear: both;
				padding: 5px 20px ;
				background-color: #044177;
			}
		}
	}
	.container {
		width: 300px;
		margin: auto !important;
	}	
}
 
// ***************************************************************************************************


// ***********
// FULL PAGE DIVS
// ***********



@each $i in $fullpagedivs{
    .#{$i} {
    margin-bottom: 12px;
	width: 300px;
	background-color: #999999;
	// height: 300px;
	clear: both;
	padding: 12px;
    }
}

.yourteam_top,
.yourteam_bottom,
.signup, 
.sharepage {
	// height: 100px;
}

.campaigns_top,
.campaigns_uppermiddle,
.campaigns_lowermiddle,
.campaigns_bottom,
.sharethefacts_home {
	// height: 200px;
}

.signup {
	margin-bottom: 20px !important;
}


// ***************************************************************************************************

// ********
// BOX STRUCTURE
// ********
@each $i in $boxgrid {
    .#{$i} {
		float: left;
	}
}

.box_contents {
	background-color: #777777;
	height: 360px;
	width: 300px;
	margin-bottom: 20px;
	
	position: relative;
	margin-right: 12px;
}

.six_box_wrapper.home {
	height: 733px;
	margin-bottom: 50px;
}


// ***************************************************************************************************

// *********
// INNER DIV STRUCTURES
// *********

.title > h1 {
	text-transform: uppercase;
}

.subtitle {
	font-size: $subtitle_font_size;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-bottom: 12px;
}

.subtext { 
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

p {
	-webkit-margin-before: 0;
}

.button {
	width: 96px;
	height: 36px;
	display: inline-block;
	vertical-align: top;
	margin-left: 12px;
	position: absolute;
	bottom: 12px;
	right: 12px;
	img {
		width: 96px;
		height: 36px;
	}
}

a {
	text-decoration: none !important;
	color: #000000 !important;
}

a img {
	border: none;
}
	
// ************************************************************************

	// ******
	// PARTIALS 
	// ******

		// ******
		// SHARE 
		// ******

		.share_content {
			margin-top: 12px;
		}

		.sharepage_subtitle, .social_icons {
			display: inline-block;
		}

		@each $i in $social {
		    .#{$i} {
				margin-right: 24px;
				display: inline-block;
			}
		}


		.sharepage_subtitle {
			margin-right: 48px;
		}

		.social_icons {
			vertical-align: middle;
		}

		.twitter_icon {
			width: 77px;
		}

		.fb_iframe_widget span {
			vertical-align: inherit !important;
		}

		// ******
		// SIGNUP
		// ******

		.signup {
			padding: 12px;
			position: relative;
		}

		// ******
		// YOUR LOCAL TEAM 
		// ******
			.mp_picture {
				width: 130px;
				background-color: #ffffff;
				height: 168px;
				display: inline-block;
				vertical-align: top;
				margin: 0 12px 12px 0;
			}

			.localteam_right {
				width: 130px;
				display: inline-block;
				vertical-align: top;
				position: relative;
				height: 168px;
				.findoutmore {
					bottom: 0;
					right: 0;
				}
			}


// *********************************************************************************************

// ******
// HOME PAGE 
// ******
	
	.carousel {
		padding: 12px;
		position: relative;
		margin-bottom: 0px !important;

		.carousel_left {
			display: inline-block;
			position: relative;
			#home_button {
				padding-top: 5%;
			}
			.carousel_image {
				width: 276px;
				height: 200px;
				margin-bottom: 12px;
				img {
					margin-right: 12px;
					width: 276px;
					height: 200px;
				}
			}
		}

		.carousel_right {
			width: 276px;
			display: inline-block;
			padding: 0 12px;
			vertical-align: top;

			.carousel_text {
				height: 120px;
				overflow: hidden;
			}
			
			.carousel_prompt {
				margin-top: 12px;
			}
			

			.large_button img {
				width: 144px;
				height: 36px;
				bottom: 0;
				position: absolute;
				right: 0;
			}
		}
	}

	.bottom_home_share {
		width: 277px;
		margin-bottom: 24px;
	}
	
	// SIX BOXES

	.local_team {
		background-color: #eeeeee;
		padding: 12px;
	}

	.box_image {
		padding-bottom: 12px;
		position: absolute;
		bottom: 48px;
		img {
			width: 276px;
			height: 180px;
			background-color: #333333;
		}
	}

	// FOR SOCIAL LINKS ON DAVID CAMERON DIV

	.home_dc1, .home_dc2 {
		position: absolute;
		bottom: 24px;
		display: inline-block;
		margin: 0;
		left: 96px;
	}

	.home_dc2 {
		left: 12px;
	}

	// SHARETHEFACTS_HOME

	.sharethefacts_home {
		position: relative;
	}

	.the {
		color: #cccccc;
	}

// *********************************************************************************************

// ******
// YOUR TEAM
// ******

	.representative_image {
		height: 96px;
		width: 276px;
		background-color: #333333;
		position: absolute;
		bottom: 12px;
		img {
			height: 96px;
			width: 276px;
		}
	}

	.list_mps_image {
		height: 240px;
		width: 276px;
		background-color: #333333;
		position: absolute;
		bottom: 12px;
		img {
			height: 240px;
			width: 276px;
		}
	}
	
	.yourteam_david {
		position: relative;
		.david_image {
		padding-bottom: 12px;
		bottom: 48px;
		display: inline-block;
		margin-right: 12px;
			img {
				width: 276px;
				height: 240px;
				background-color: #333333;
			}
		}
		.david_right {
			width: 276px;
			display: inline-block;
			vertical-align: top;
		}
	}
	


	// ******
	// DAVID CAMERON 
	// ******

	.response_left {
		vertical-align: top;
	}

	.response_right {
		margin-top: 12px;
	}

	.response_left, .response_right {
		display: inline-block;
		width: 276px;
	}


	.signup_davidcameron {
		background-color: #efefef;
		padding: 12px 12px 12px 12px;
		position: relative;
		margin-bottom: 12px;
	}

	.social_davidcameron {
		margin-top: 12px;
	}

	// ******
	// MEMBERS OF PARLIAMENT
	// ******

	.list_of_parliamentary_candidates, .list_of_members  {
		width: 276px;
		background-color: #ffffff;
		height: 600px;
		text-align: center;
	}

	.italic_list {
		padding: 12px;
		font-style: italic;
	}

	// ******
	// YOUR LOCAL TEAM
	// ******

	.yourteam_response_content {
		position: relative;
	}

	.local_response_left, .local_response_right {
		display: inline-block;
	}

	.local_response_right {
		width: 276px;
		vertical-align: top;
		margin-top: 24px;
	}

	.localteam_image, .localteam_image img  {
		height: 276px;
		width: 276px;
	}

	// ******
	// YOUR LOCAL ASSOCIATION
	// ******

	.your_local_association h2 p {
		width: 276px;
		word-wrap: normal;
	}

	


// ***************************************************************************************************

// ******
// CAMPAIGNS
// ******


	@each $i in $sevenpages{
	    .#{$i} {
			display: inline-block;
			background-color: #ffffff;
			margin: 0 12px 12px 0;
			padding: 12px;
			width: 276px;
			height: 36px;
			text-align: center;
		}
	}

	.infographic_contents, .video_contents {
			width: 276px;
			height: 180px;
			background-color: #ffffff;
			margin: 0 12px 12px 0;
			display: inline-block;
			position: relative;	
	}

	.infographic_contents img {
		width: 276px;
		height: 180px;
	}

	.video1, .video2, .video3 {
		margin-bottom: 48px;
	}

	.seven_pages3, .seven_pages6, .infographic_contents.third, .video_contents.third {
		margin-right: 0;
	}

	.share_infographics {
		background-color: #dddddd;
		width: 276px;
		height: 36px;
		bottom: 0;
		position: absolute;
		.social_infographic1, .social_infographic2 {
			position: absolute;
			bottom: 0;
			display: inline-block;
			margin: 0;	
		}
		.social_infographic1 {
			left: 12px;
		}
		.social_infographic2 {
			right: 12px;
		}
	}

	.campaigns_bottom, .campaigns_uppermiddle {
		position: relative;
	}

	.sharethefacts_image {
		width: 276px;
		background-color: #ffffff;
		height: 144px;
		margin-bottom: 48px;
		img {
			width: 276px;
			height: 144px;
		}
	}


// *********************************************************************************************

	// ******
	// VOLUNTEER 
	// ******

	.volunteer_top {
		position: relative;
	}

	.volunteer_left, .volunteer_right, .form_left, .form_right {
		display: inline-block;
	}

	.volunteer_left { 
		vertical-align: top;
		margin-right: 12px;
		width: 276px;
		height: 250px;
		img {
			width: 276px;
			height: 250px;
		}
	}

	.volunteer_right {
		width: 276px;
		padding-top: 12px;
		padding-bottom: 62px;
	}

// ***************************************************************************************************

// ******
// DONATE
// ******

	.donate {
		position: relative;
	}

// ***************************************************************************************************

// ***********
// MEDIA QUERIES
// ***********

@media (min-width: 480px) {

	.main_container {
		.logo {
			width: 440px !important;
			img {
				width: 440px !important;
			}
		}

		.social_share {
			width: 440px !important;
		}
	}

	.container {
		width: 440px !important;
		margin: auto !important;
	}

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 440px !important;
		}
	}

	.box_contents {
			width: 440px !important;
			margin-right: 0 !important;
		}

	.box_contents.first, .box_contents.third, .box_contents.fifth {
		margin-right: 12px !important;
	}

	// *********
	// HOMEPAGE
	// *********

	.carousel_left {
		width: 416px !important;
		.subtitle.carousel_prompt {
			width: 70%;
		}
		.carousel_image {
				width: 416px !important;
				margin-bottom: 12px;
				img {
					width: 416px !important;
				}
			}
	}

	.carousel_right {
		padding: 0 !important;
		width: 416px !important;
		.carousel_prompt {
			width: 208px !important;
			position: relative !important;
			padding: 0;
		}
	}

	.box_image {
		img {
			width: 416px !important;
		}
	}

	.bottom_home_share {
		width: 416px !important;
	}

		// ******
		// YOUR LOCAL TEAM PARTIAL
		// ******

			.mp_picture {
				width: 200px;
			}

			.localteam_right {
				width: 200px;
			}

	// ******
	// YOUR TEAM 
	// ******	

	.david_image {
		width: 416px;
		img {
			width: 416px !important;
		}
	}

	.david_right {
		width: 416px !important;
	}

	.yourteam_box1, .yourteam_box2, .yourteam_box3 {
		width: 440px !important;
	}

	.representative_image, .list_mps_image {
		width: 416px;
		img {
			width: 416px !important;
		}
	}

	// ******
	// MEMBERS OF PARLIAMENT
	// ******

	.list_of_parliamentary_candidates, .list_of_members {
		width: 416px !important;
	}

	// ***********
	// DAVID CAMERON
	// ***********

	.response_right {
		width: 412px;

	}

	// ***********
	// CAMPAIGNS
	// ***********

	@each $i in $sevenpages{
	    .#{$i} {
			width: 416px !important;
			height: 36px;
			vertical-align: top;
		}
	}

	.infographic1, .infographic2, .infographic3, .video1, .video2, .video3 {
		display: inline-block;
	}

	.infographic_contents, .video_contents {
		width: 416px;

	}	

	.infographic_contents img {
		width: 416px !important;
	}

	.share_infographics, .sharethefacts_image, .sharethefacts_image img  {
		width: 416px !important;
	}

	// ******
	// VOLUNTEER
	// ******

	.volunteer_left { 
		width: 416px;
		img {
			width: 416px;
		}
	}

	.volunteer_right {
		width: 416px;
	}


	// ***********
	// YOUR LOCAL TEAM
	// ***********

	.local_response_right {
		width: 412px;
	}

	.yourteam_response_content {
		padding-bottom: 36px;
	}

	.localteam_image, .localteam_image img  {
		height: 250px;
		width: 415px;
	}


}

// ***************************************************************************************************


@media (min-width: 640px) {

	.main_container {
		.logo {
			width: 620px !important;
			img {
				width: 620px !important;
			}
	}

		.social_share {
			width: 620px !important;
			float: none !important;
			margin-top: 0 !important;
		}
	}

	.container {
		width: 620px !important;
		margin: auto !important;
	}

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 620px !important;
		}
	}

	.box_contents {
		width: 304px !important;
		margin-right: 0 !important;
	}

	.box_contents.first, .box_contents.third, .box_contents.fifth {
		margin-right: 12px !important;
	}

	// *********
	// HOMEPAGE
	// *********

	.carousel_left {
		width: 287px !important;
		margin-right: 12px !important;
		.subtitle.carousel_prompt {
			width: 100%;
		}
		#home_button {
			padding-top: 6%;

		}
		.carousel_image {
				width: 292px !important;
				img {
					width: 292px !important;
				}
			}
	}

	.carousel_right {
		width: 280px !important;
		.carousel_text {
			max-height: 118px;
			overflow: hidden;
		}	
		.carousel_prompt {
			width: 134px !important;
		}
	}


	.box_image {
		img {
			width: 280px !important;
		}
	}

	.bottom_home_share {
		width: 488px !important;
	}


		// ******
		// YOUR LOCAL TEAM PARTIAL
		// ******

			.mp_picture {
				width: 132px;
			}

			.localteam_right {
				width: 132px;
			}

	// ******
	// YOUR TEAM 
	// ******	

	.david_image {
		width: 596px;
		img {
			width: 596px !important;
		}
	}

	.david_right {
		width: 596px !important;
	}

	.yourteam_box1, .yourteam_box2, .yourteam_box3  {
		width: 620px !important;
	}

	.representative_image, .list_mps_image {
		width: 596px;
		img {
			width: 596px !important;
		}
	}

	// ******
	// MEMBERS OF PARLIAMENT
	// ******

	.list_of_parliamentary_candidates, .list_of_members {
		width: 596px !important;
	}
	
	// ***********
	// DAVID CAMERON
	// ***********

	.response_right {
		width: 594px;
	}

	.signup_davidcameron {
		padding-bottom: 62px;
	}

	// ***********
	// CAMPAIGNS
	// ***********

	@each $i in $sevenpages{
	    .#{$i} {
			width: 188px !important;
			height: 72px;
			vertical-align: top;
		}
	}

	.infographic_contents, .video_contents {
			width: 188px;
	}

	.infographic_contents img {
		width: 188px !important;
	}

	.share_infographics {
		width: 188px !important;
	}

	.sharethefacts_image {
		width: 596px !important;
		img {
			width: 596px !important;
		}
	}

	// ******
	// VOLUNTEER
	// ******

	.volunteer_left { 
		width: 596px;
		margin-bottom: 12px;
		img {
			width: 596px;
		}
	}

	.volunteer_right {
		width: 596px;
	}

	// ***********
	// YOUR LOCAL TEAM
	// ***********

	.localteam_image, .localteam_image img  {
		height: 250px;
		width: 596px;
	}


}
// ***************************************************************************************************

@media (min-width: 768px) {

	.main_container {
		.logo, .logo img, .social_share {
			width: 300px !important;
			display: inline-block;
		}
		.social_share {
			float: right !important;
			margin-top: 12px !important;
		}
		nav {
			li {
				font-size: 12px;
				display: inline-block;
				margin-right: 12px;
			}
		}

		.navigation_mobile {
			display: none;
			padding: 12px;

		}

		.navigation {
				nav ul li a {
					padding: 12px;
				}
				nav ul li a:hover{
					background-color: #dddddd;
					padding: 12px;
				}
			}
	}

	.container {
		width: 748px !important;
		margin: auto !important;
	}

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 748px !important;
		}
	}

	.box_contents {
		width: 368px !important;
		margin-right: 0 !important;
	}

	.box_contents.first, .box_contents.third, .box_contents.fifth {
		margin-right: 20px !important;
	}

	// *********
	// HOMEPAGE
	// *********


	.carousel_left {
		margin-right: 12px !important;
		width: 334px !important;
		.subtitle.carousel_prompt {
			width: 66%;
		}
	}

	.carousel_right {
		width: 360px !important;
		.carousel_prompt {
			width: 192px;
		}
	}

	.box_image {
		img {
			width: 344px !important;
		}
	}

		// ******
		// YOUR LOCAL TEAM PARTIAL
		// ******

			.mp_picture {
				width: 164px;
			}

			.localteam_right {
				width: 165px;
			}

	// ******
	// YOUR TEAM 
	// ******

	.yourteam_box1, .yourteam_box2, .yourteam_box3 {
		width: 241px !important;
		margin-right: 12px !important;
	}

	.yourteam_box3.third {
		margin-right: 0 !important;
	}

	.david_image {
		width: 480px;
		img {
			width: 480px !important;
		}
	}

	.david_right {
		width: 229px !important;
	}

	.representative_image, .list_mps_image {
		width: 217px;
		img {
			width: 217px !important;
		}
	}

	.list_mps_image {
		height: 216px !important;
		img {
			height: 216px !important;
		}
	}

	// ******
	// MEMBERS OF PARLIAMENT
	// ******
	
	.list_of_parliamentary_candidates, .list_of_members {
		width: 724px !important;
	}
	


	// ***********
	// DAVID CAMERON
	// ***********

	.response_right {
		width: 433px;
	}

	.response_left {
		vertical-align: top;
		width: 276px !important;
		margin-right: 12px !important;
		.localteam_image {
			width: 276px !important;
			img {
				width: 276px !important;
			}
		}
	}

	// ***********
	// CAMPAIGNS
	// ***********

	@each $i in $sevenpages{
	    .#{$i} {
			width: 350px !important;
			height: 48px;
			vertical-align: top;
			margin-right: 12px;
		}
	}

	.seven_pages2, .seven_pages4, .seven_pages6 {
		margin-right: 0;
	}

	.infographic_contents, .video_contents {
		width: 350px !important;
		img {
			width: 350px !important;
		}
	}


	.infographic3, .video3 {
		display: none !important;
	}

	.infographic_contents.second, .video_contents.second {
		margin-right: 0 !important;
	}

	.share_infographics {
		width: 350px !important;
	}

	.sharethefacts_image {
		width: 724px !important;
		img {
			width: 724px !important;
		}
	}




	// ******
	// VOLUNTEER
	// ******

	.volunteer_left { 
		width: 336px;
		height: 250px;
		img {
			width: 336px;
			height: 250px;
		}
	}

	.volunteer_right {
		width: 373px;
	}


	// ***********
	// YOUR LOCAL TEAM
	// ***********

	.local_response_right {
		width: 433px !important;
	}
	
	.local_response_left {
		width: 276px !important;
		margin-right: 12px !important;
		.localteam_image {
			width: 276px !important;
			img {
				width: 276px !important;
			}
		}
	}

}

// ***************************************************************************************************

@media (min-width: 960px) {

	.main_container {
		.logo, .logo img, .social_share {
			width: 300px !important;
		}
		.social_share {
			float: right !important;
			margin-top: 12px !important;
		}
		nav {
			li {
				font-size: 15px !important;
			}
		}
	}

	.container {
		width: 940px !important;
		margin: auto !important;
	}

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 940px !important;
		}
	}

	.box_contents {
		width: 300px !important;
		margin-right: 20px !important;
	}

	.box_image {
		width: 281px !important;
		img {
			width: 281px !important;
		}
	}

	.box_contents.third, .box_contents.sixth {
		margin-right: 0 !important;
	}


	// *********
	// HOMEPAGE
	// *********

	.carousel_wrapper {
		background-color: #e7f4fe;
	}

	.sign_up_wrapper {
		background-color: #e7f4fe;
		height: 80px;
	}

	.sign_up_container {
		height: 120px;
	}

	.carousel_left {
		width: 470px !important;
		.carousel_image {
				width: 288px !important;			
				img {
					width: 288px !important;
				}
			}
		}
	
	#home_button {
		padding-top: 15px;
	}
	.carousel_right	{
		width: 400px !important;
		.carousel_text {
			width: 561px !important;
		}
		.carousel_prompt {
			width: 334px !important;
			bottom: 12px !important;
			right: 168px !important;
			position: absolute !important;
		}
	}

		// ******
		// YOUR LOCAL TEAM PARTIAL
		// ******

			.mp_picture {
				width: 130px;
			}

			.localteam_right {
				width: 130px;
			}

	// ******
	// YOUR TEAM 
	// ******	

	.david_image {
		width: 624px !important;
			img {
				width: 624px !important;
			}
	}

	.david_right {
		width: 277px !important;
	}

	.yourteam_box1, .yourteam_box2, .yourteam_box3 {
		width: 305px !important;
	}

	.representative_image, .list_mps_image {
		width: 281px;
		img {
			width: 281px !important;
		}
	}

	// ***********
	// DAVID CAMERON
	// ***********

	.response_left {
		margin-right: 12px;
	}

	.response_right {
		width: 625px;
	}

	.localteam_image {
		width: 276px !important;
		img {
			width: 276px !important;
		}
	}

	// ******
	// MEMBERS OF PARLIAMENT
	// ******

	.list_of_parliamentary_candidates, .list_of_members {
		width: 916px !important;
	}


	// ******
	// YOUR LOCAL TEAM
	// ******

	.local_response_right {
		width: 625px !important;
	}

	.yourteam_response_content {
		padding-bottom: 36px;
	}

	.localteam_image, .localteam_image img  {
		width: 276px;
		margin-right: 12px;
	}


	// ***********
	// CAMPAIGNS
	// ***********

	@each $i in $sevenpages{
	    .#{$i} {
			width: 295px !important;
			height: 36px !important;
			vertical-align: top;
			margin-right: 12px;
		}
	}

	.seven_pages3, .seven_pages6 {
		margin-right: 0 !important;
	}

	.infographic_contents, .video_contents {
		width: 295px !important;
		img {
			width: 295px !important;
		}
	}

	.share_infographics, .sharethefacts_image, .sharethefacts_image img  {
		width: 295px !important;
	}
	
	.sharethefacts_image {
		width: 916px !important;
		img {
			width: 916px !important;
		}
	}

	.infographic3, .infographic4, .video3 {
		display: inline-block !important;
	}

	.infographic_contents.third {
		margin-right: 0 !important;
	}


	.infographic_contents.second, .video_contents.second {
		margin-right: 12px !important;
	}

	// ******
	// VOLUNTEER
	// ******

	.volunteer_left { 
		width: 336px !important;
		img {
			width: 336px !important;
		}
	}

	.volunteer_right {
		width: 564px !important;
		padding-top: 0;
	}

}

// ***************************************************************************************************

// FOR RESPONSIVE NAV BAR

@media (max-width: 767px) {

	.navigation_mobile {
		display: block;
		font-size: 32px;
		background-color: #efefef;
		padding: 12px;
	}

	.navigation {
		display: none;
		nav ul li a:hover {
			background-color: #efefef;
		}
	}

	nav {	
		li {
			padding: 12px !important;
			font-size: 15px;
			display: block;
			a {
				padding: 12px !important;
			}
		}
	}

}



