// ***********
// HEADERFOOTER
// ***********

@import 'main_var.scss';

body {
	font-family: $font;
	font-size: 100% !important;
	.container {
		width: 960px;
		margin: auto !important;
		font-size: $global_font_size;

		.logo {
		margin: 20px 0;
		width: 45%;
		display: inline-block;
		}

		.navbar-default .navbar-nav > li > a {
			text-transform: uppercase;
		}

		.social_share {
			float: right;
			width: 300px;
			height: 50px;
			margin: 20px 0;
			display: inline-block;
			background-color: #efefef;

			.fb-like.fb_edge_widget_with_comment.fb_iframe_widget, .twitter iframe {
				float: right;
				margin: 15px;
			}
		}

		footer {
			background-color: #efefef;

			ul {
				list-style-type: none;
				float: left;
				padding-left: 20px; 
			}

			.mabutt {
				clear: both;
				padding: 5px 20px ;
				background-color: #dddddd;
			}
		}
	}	
}
 
// ***************************************************************************************************


// ***********
// FULL PAGE DIVS
// ***********



@each $i in $fullpagedivs{
    .#{$i} {
    margin-bottom: 12px;
	width: $div_full;
	background-color: #999999;
	// height: 300px;
	clear: both;
	padding: 12px;
    }
}

.yourteam_top,
.yourteam_bottom,
.signup, 
.sharepage {
	// height: 100px;
}

.campaigns_top,
.campaigns_uppermiddle,
.campaigns_lowermiddle,
.campaigns_bottom,
.sharethefacts_home {
	// height: 200px;
}


// ***************************************************************************************************

// ********
// BOX STRUCTURE
// ********
@each $i in $boxgrid {
    .#{$i} {
		float: left;
		background-color: #777777;
		height: 360px;
		width: $div_third;
		margin-bottom: 12px;
		padding: 12px;
		position: relative;
	}
}

.box1, 
.box2, 
.box4, 
.box5 {
	margin-right: 12px;
	
}

// ***************************************************************************************************

// *********
// INNER DIV STRUCTURES
// *********

.title > h1 {
	text-transform: uppercase;
}

.subtitle {
	font-size: $subtitle_font_size;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-bottom: 12px;
}

.button {
	width: 96px;
	height: 36px;
	display: inline-block;
	vertical-align: top;
	margin-left: 12px;
	position: absolute;
	bottom: 12px;
	right: 12px;
	img {
		width: 96px;
		height: 36px;
	}
}

.subtext { 
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
	
// ************************************************************************

	// ******
	// PARTIALS 
	// ******

		// ******
		// SHARE 
		// ******

		.share_content {
			margin-top: 12px;
		}

		.sharepage_subtitle, .social_icons {
			display: inline-block;
		}

		@each $i in $social {
		    .#{$i} {
				margin-right: 24px;
				display: inline-block;
			}
		}


		.sharepage_subtitle {
			margin-right: 48px;
		}

		.social_icons {
			vertical-align: middle;
		}

		.twitter_icon {
			width: 77px;
		}

		.fb_iframe_widget span {
			vertical-align: inherit !important;
		}

		// ******
		// SIGNUP
		// ******

		.signup {
			padding: 12px;
			position: relative;
		}

		// ******
		// YOUR LOCAL TEAM 
		// ******
			.mp_picture {
				width: 130px;
				background-color: #ffffff;
				height: 168px;
				display: inline-block;
				vertical-align: top;
				margin: 0 12px 12px 0;
			}

			.localteam_right {
				width: 130px;
				display: inline-block;
				vertical-align: top;
				position: relative;
				height: 168px;
				.findoutmore {
					bottom: 0;
					right: 0;
				}
			}


// *********************************************************************************************

// ******
// HOME PAGE 
// ******
	
	.carousel {
		padding: 12px;
		position: relative;

		.carousel_left {
			display: inline-block;
			.carousel_image {
				width: 340px;
				height: 200px;
				img {
					margin-right: 12px;
					width: 340px;
					height: 200px;
				}
			}
		}

		.carousel_right {
			width: 584px;
			display: inline-block;
			padding: 0 12px;
			vertical-align: top;

			.carousel_text {
				height: 120px;
			}

			.carousel_prompt {
				bottom: 0;
				position: absolute;
			}

			.large_button img {
				width: 144px;
				height: 36px;
				bottom: 0;
				position: absolute;
				right: 0;
			}
		}
	}
	
	// SIX BOXES

	.local_team {
		background-color: #eeeeee;
		padding: 12px;
	}

	.box_image {
		padding-bottom: 12px;
		position: absolute;
		bottom: 48px;
		img {
			width: 288px;
			height: 180px;
			background-color: #333333;
		}
	}

	// FOR SOCIAL LINKS ON DAVID CAMERON DIV

	.home_dc1, .home_dc2 {
		position: absolute;
		bottom: 24px;
		display: inline-block;
		margin: 0;
		left: 96px;
	}

	.home_dc2 {
		left: 12px;
	}

	// SHARETHEFACTS_HOME

	.sharethefacts_home {
		position: relative;
	}

	.the {
		color: #cccccc;
	}



// *********************************************************************************************

// ******
// DAVID CAMERON 
// ******

	.response_left {
		margin-right: 34px;
		vertical-align: top;
	}

	.response_right {
		width: 600px;
	}

	.response_left, .response_right {
		display: inline-block;
	}

// *********************************************************************************************

	// ******
	// VOLUNTEER 
	// ******

	.volunteer_top {
		position: relative;
	}

	.volunteer_left, .volunteer_right, .form_left, .form_right {
		display: inline-block;
	}

	.volunteer_left { 
		vertical-align: top;
		margin-right: 24px;
	}

	.volunteer_right {
		width: 542px;
		padding-bottom: 62px;
	}


// ***************************************************************************************************

// ******
// CAMPAIGNS
// ******


	@each $i in $sevenpages{
	    .#{$i} {
			display: inline-block;
			background-color: #ffffff;
			margin: 0 12px 12px 0;
			padding: 12px;
			width: 302px;
			height: 36px;
			text-align: center;
		}
	}

	@each $i in $infographics_videos {
	    .#{$i} {
			width: 302px;
			height: 180px;
			background-color: #ffffff;
			margin: 0 12px 12px 0;
			display: inline-block;
			position: relative;
		}	
	}

	.video1, .video2, .video3 {
		margin-bottom: 48px;
	}

	.seven_pages3, .seven_pages6, .infographic3, .video3 {
		margin-right: 0;
	}

	.share_infographics {
		background-color: #dddddd;
		width: 302px;
		height: 36px;
		bottom: 0;
		position: absolute;
		.social_infographic1, .social_infographic2 {
			position: absolute;
			bottom: 0;
			display: inline-block;
			margin: 0;
			right: 108px;
		}
		.social_infographic2 {
			right: 12px;
		}
	}

	.campaigns_bottom, .campaigns_uppermiddle {
		position: relative;
	}

	.sharethefacts_image {
		width: 936px;
		background-color: #ffffff;
		height: 144px;
		margin-bottom: 48px;
	}



// ***************************************************************************************************

// ******
// DONATE
// ******

	.donate {
		position: relative;
	}

// ***************************************************************************************************

// ***********
// MEDIA QUERIES
// ***********

@media (max-width: 768px) {

	.container {
		width: 748px !important;
	}

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 748px !important;
		}
	}

	@each $i in $boxgrid {
	    .#{$i} {
			width: $div-half;
			margin-right: 0 !important;
		}
	}

	.box1, .box3, .box5 {
		margin-right: 12px !important;
	}

	// *********
	// HOMEPAGE
	// *********

	.carousel_right {
		width: 380px !important;
		.carousel_prompt {
			width: 25%;
		}
	}

	.box_image {
		img {
			width: 344px !important;
		}
	}

		// ******
		// YOUR LOCAL TEAM 
		// ******

			.mp_picture {
				width: 164px;
			}

			.localteam_right {
				width: 165px;
			}


	// ***********
	// DAVID CAMERON
	// ***********

	.response_right {
		width: 400px;
	}

	.response_left {
		vertical-align: top;
	}

	// ***********
	// CAMPAIGN
	// ***********

	@each $i in $sevenpages{
	    .#{$i} {
			width: 231px !important;
			height: 60px;
			vertical-align: top;
		}
	}

	@each $i in $infographics_videos {
	    .#{$i} {
			width: 231px;
		}	
	}

	.share_infographics {
		width: 231px;
	}

	.sharethefacts_image {
		width: 724px !important;
	}



}

// ***************************************************************************************************


@media (max-width: 640px) {

	.container {
		width: 620px !important;
	}

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 620px !important;
		}
	}

	@each $i in $boxgrid {
	    .#{$i} {
			width: 304px !important;
			margin-right: 0 !important;
		}
	}

	.box1, .box3, .box5 {
		margin-right: 12px !important;
	}

	// *********
	// HOMEPAGE
	// *********

	.carousel_left {
		width: 292px !important;
		.carousel_image {
				width: 292px !important;
				img {
					width: 292px !important;
				}
			}
	}

	.carousel_right {
		width: 292px !important;
		.carousel_prompt {
			width: 134px !important;
		}
	}


	.box_image {
		img {
			width: 280px !important;
		}
	}

	.bottom_home_share {
		width: 488px !important;
	}


		// ******
		// YOUR LOCAL TEAM 
		// ******

			.mp_picture {
				width: 132px;
			}

			.localteam_right {
				width: 132px;
			}

	// ***********
	// DAVID CAMERON
	// ***********

	.response_right {
		width: 594px;
	}

	// ***********
	// CAMPAIGN
	// ***********

	@each $i in $sevenpages{
	    .#{$i} {
			width: 188px !important;
			height: 72px;
			vertical-align: top;
		}
	}

	@each $i in $infographics_videos {
	    .#{$i} {
			width: 188px;
		}	
	}

	.share_infographics {
		width: 188px;
	}

	.sharethefacts_image {
		width: 596px !important;
	}

}

// ***************************************************************************************************


@media (max-width: 480px) {

	.container {
		width: 440px !important;
	}

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 440px !important;
		}
	}

	@each $i in $boxgrid {
	    .#{$i} {
			width: 440px !important;
			margin-right: 0 !important;
		}
	}

	.box1, .box3, .box5 {
		margin-right: 12px !important;
	}

	// *********
	// HOMEPAGE
	// *********

	.carousel_left {
		width: 100% !important;
		.carousel_image {
				width: 100% !important;
				img {
					width: 100% !important;
				}
			}
	}

	.carousel_right {
		padding: 0 !important;
		width: 100% !important;
		.carousel_prompt {
			width: 50% !important;
			position: relative !important;
			padding: 0;
		}
	}

	.box_image {
		img {
			width: 416px !important;
		}
	}

	.bottom_home_share {
		width: 416px !important;
	}

		// ******
		// YOUR LOCAL TEAM 
		// ******

			.mp_picture {
				width: 200px;
			}

			.localteam_right {
				width: 200px;
			}

	// ***********
	// DAVID CAMERON
	// ***********

	.response_right {
		width: 412px;

	}

	// ***********
	// CAMPAIGN
	// ***********

	@each $i in $sevenpages{
	    .#{$i} {
			width: 416px !important;
			height: 36px;
			vertical-align: top;
		}
	}

	@each $i in $infographics_videos {
	    .#{$i} {
			width: 416px;
		}	
	}

	.share_infographics, .sharethefacts_image  {
		width: 416px !important;
	}

}

// ***************************************************************************************************


@media (max-width: 320px) {

	.container {
		width: 300px !important;
	}

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 300px !important;
		}
	}

	@each $i in $boxgrid {
    	.#{$i} {
			width: 300px !important;
			margin-right: 0 !important;
		}
	}

	.box1, .box3, .box5 {
		margin-right: 12px !important;
	}


	// *********
	// HOMEPAGE
	// *********

	.carousel_prompt {
		margin-top: 12px !important;
	}

	.box_image {
		img {
			width: 277px !important;
		}
	}

	.bottom_home_share {
		width: 277px !important;
		margin-bottom: 24px;
	}

		// ******
		// YOUR LOCAL TEAM 
		// ******

			.mp_picture {
				width: 130px;
			}

			.localteam_right {
				width: 130px;
			}

	// ***********
	// DAVID CAMERON
	// ***********

	.response_right {
		width: 272px;
	}

	// ***********
	// CAMPAIGN
	// ***********

	@each $i in $sevenpages{
	    .#{$i} {
			width: 277px !important;
			height: 36px;
			vertical-align: top;
		}
	}

	@each $i in $infographics_videos {
	    .#{$i} {
			width: 277px !important;
		}	
	}

	.share_infographics, .sharethefacts_image {
		width: 277px !important;
	}

}



