/*********
CROSS SITE
*********/

$font:  'Signika Negative', sans-serif;
$global_font_size: 12px;
$subtitle_font_size: 16px;
$div_full: 300px;
$div_half: 368px;
$div_third: 312px;

$fullpagedivs:
	carousel, 
	signup, 
	sharethefacts_home, 
	sharepage, 
	yourteam_david,
	members_of_parliament,
	parliamentary_candidates,
	campaigns_top,
	campaigns_uppermiddle,
	campaigns_lowermiddle,
	campaigns_bottom,
	volunteer_top, 
	volunteer_bottom,
	yourteam_response_content,
	yourteam_response_content,
	your_local_association,
	team_postcode,
	donate
;

$boxgrid:
	box1, 
	box2, 
	box3, 
	box4, 
	box5, 
	box6
;

$social:
	facebook_icon, 
	twitter_icon, 
	google_icon
;

/*********
CAMPAIGNS
*********/

$sevenpages:
	seven_pages1,
	seven_pages2,
	seven_pages3,
	seven_pages4,
	seven_pages5,
	seven_pages6
;

$infographics_videos:
	infographic1,
	infographic2,
	infographic3,
	video1,
	video2,
	video3
;
