/*********
CROSS SITE
*********/

$font:  'Signika Negative', sans-serif;
$global_font_size: 12px;
$subtitle_font_size: 16px;
$div_full: 960px;
$div_half: 368px;
$div_third: 312px;


/*********
HOMEPAGE
*********/

