// ***********
// HEADERFOOTER
// ***********

@import 'main_var.scss';

body {
	font-family: $font;
	font-size: 100% !important;
	.container {
		width: 960px;
		margin: auto !important;
		font-size: $global_font_size;

		.logo {
		margin: 20px 0;
		width: 45%;
		display: inline-block;
		}

		.navbar-default .navbar-nav > li > a {
			text-transform: uppercase;
		}

		.social_share {
			float: right;
			width: 300px;
			height: 50px;
			margin: 20px 0;
			display: inline-block;
			background-color: #efefef;

			.fb-like.fb_edge_widget_with_comment.fb_iframe_widget, .twitter #twitter-widget-0 {
				float: right;
				margin: 15px;
			}
		}

		footer {
			background-color: #efefef;

			ul {
				list-style-type: none;
				float: left;
				padding-left: 20px; 
			}

			.mabutt {
				clear: both;
				padding: 5px 20px ;
				background-color: #dddddd;
			}
		}
	}	
}
 
// ***************************************************************************************************


// ***********
// FULL PAGE DIVS
// ***********



@each $i in $fullpagedivs{
    .#{$i} {
         	margin-bottom: 12px;
	width: $div_full;
	background-color: #999999;
	// height: 300px;
	clear: both;
    }
}

.yourteam_top,
.yourteam_bottom,
.signup, 
.sharepage {
	height: 100px;
}

.campaigns_top,
.campaigns_uppermiddle,
.campaigns_lowermiddle,
.campaigns_bottom,
.sharethefacts_home {
	height: 200px;
}


// ***************************************************************************************************

// ********
// BOX STRUCTURE
// ********
@each $i in $boxgrid {
    .#{$i} {
		float: left;
		background-color: #333333;
		height: 300px;
		width: $div_third;
		margin-bottom: 12px;
	}
}

.box1, 
.box2, 
.box4, 
.box5 {
	margin-right: 12px;
	
}

// ***************************************************************************************************

// *********
// INNER DIV STRUCTURES
// *********

.subtitle {
	font-size: $subtitle_font_size;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-bottom: 12px;
}

.button {
	width: 96px;
	height: 36px;
	display: inline-block;
	vertical-align: top;
	margin-left: 12px;
	img {
		width: 96px;
		height: 36px;
	}
}
	
// ************************************************************************

	// ******
	// PARTIALS 
	// ******

		// ******
		// SHARE 
		// ******

		.sharepage {
			padding: 36px 0px 0px 12px;
		}

		.sharepage_subtitle, .social_icons {
			display: inline-block;
		}

		@each $i in $social {
		    .#{$i} {
				margin-right: 24px;
				display: inline-block;
			}
		}


		.sharepage_subtitle {
			margin-right: 48px;
		}

		.twitter_icon {
			width: 77px;
		}

		.fb_iframe_widget span {
			vertical-align: inherit !important;
		}

		// ******
		// SIGNUP
		// ******

		.signup {
			padding: 12px;
		}


// *********************************************************************************************

	// ******
	// HOME PAGE 
	// ******
	
	.carousel {
		padding: 12px;

		.carousel_left {
			display: inline-block;
			.carousel_image {
				width: 340px;
				height: 200px;
				img {
					margin-right: 12px;
					width: 340px;
					height: 200px;
				}
			}
		}

		.carousel_right {
			width: 584px;
			display: inline-block;
			padding: 12px;
			position: relative;
			height: 212px;
			vertical-align: top;


			.carousel_text {
				overflow: hidden;
				height: 108px;
			}

			.carousel_prompt {
				bottom: 12px;
				position: absolute;
			}

			.large_button img {
				width: 144px;
				height: 36px;
				bottom: 12px;
				position: absolute;
				right: 24px;
			}
		}
	}


// ***************************************************************************************************

// ***********
// MEDIA QUERIES
// ***********

@media (max-width: 768px) {

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 748px !important;
		}
	}

	@each $i in $boxgrid {
	    .#{$i} {
			width: $div-half;
			margin-right: 0 !important;
		}
	}

	.box1, .box3, .box5 {
		margin-right: 12px !important;
	}

}

// ***************************************************************************************************


@media (max-width: 640px) {

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 620px !important;
		}
	}

	@each $i in $boxgrid {
	    .#{$i} {
			width: 304px !important;
			margin-right: 0 !important;
		}
	}

	.box1, .box3, .box5 {
		margin-right: 12px !important;
	}

}

// ***************************************************************************************************


@media (max-width: 480px) {

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 440px !important;
		}
	}

	@each $i in $boxgrid {
	    .#{$i} {
			width: 440px !important;
			margin-right: 0 !important;
		}
	}

	.box1, .box3, .box5 {
		margin-right: 12px !important;
	}

}

// ***************************************************************************************************


@media (max-width: 320px) {

	@each $i in $fullpagedivs{
	    .#{$i} {
			width: 300px !important;
		}
	}

	@each $i in $boxgrid {
    	.#{$i} {
			width: 300px !important;
			margin-right: 0 !important;
		}
	}

	.box1, .box3, .box5 {
		margin-right: 12px !important;
	}

}



