/*nav {
  display: block;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li a:link, nav ul li a:visited {
  display: block;
  padding: .36em 0;
  background: #efefef;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
  background-color: #dddddd !important;
}

.nav_tab {
  font-weight: bold;
  background: #ccc;
  display: block;
  color: #000000;
  font-size: 1.6em;
  text-align: center;
  display: none;
}

.nav_tab:hover {
  cursor: pointer;
  background: #efefef;
}

@media (min-width: 480px) {
  nav ul {
    text-align: center;
    background: #efefef;
  }
  nav ul li {
    display: inline;
  }
  nav ul li a:link {
    display: inline-block;
    padding: 1em;
  }
}
*/