
<div class="sharepage">

  <div class="share_content">
    <div class="sharepage_subtitle">
    	<h2 class="subtitle">share this page</h2>
    </div>

    <div class="social_icons">

    	<div class="facebook_icon">
    		<div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div>
    	</div>

    	<div class="twitter_icon">
    		<a href="https://twitter.com/share" class="twitter-share-button" data-via="conservatives">Tweet</a>
  		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    	</div>

    	<div class="google_icon">
    		<div class="g-plus" data-action="share" data-annotation="none"></div>
    	</div>

    </div>
  </div>

</div>

<<<<<<< HEAD
=======


>>>>>>> 69afdfbb131bd948cbe0de8b5ac3d12f271bcfbc
