<div class="signup">
	<h2 class="subtitle">Be part of the campaign – sign up for updates</h2>
<!-- TEMP DIVS FOR FORM FIELDS -->
	<div style="width: 360px; background-color: #fff; height: 36px; display: inline-block; margin-right: 24px;"></div>
	<div style="width: 360px; background-color: #fff; height: 36px; display: inline-block; margin-right: 12px;"></div>
<!-- END OF TEMP DIVS -->
	<div class="button">
        <%= link_to "#{image_tag("submit.png")}","#" %>
    </div>
</div>

