<div class="row-fluid box_row1">
  		<div class="span4 box1">

  		</div>
  		<div class="span4 box2">

  		</div>
  		<div class="span4 box3">

  		</div>
</div>

<div class="row-fluid box_row2">
  		<div class="span4 box4">

  		</div>
  		<div class="span4 box5">

  		</div>
  		<div class="span4 box6">

  		</div>
</div>