<div class="box2">

    <h2 class="subtitle">Your Local Team</h2>
    <p class="subtitle mp_name">NAME</p>
    <div class="mp_picture"></div>
    <div class="localteam_right">
      <p class="subtext"><%=lorem.sentences 2 %></p>
      <div class="button findoutmore">
        <%= link_to "#{image_tag("")}","/yourteam.html" %>
      </div>
    </div>
  
  <h2 class="subtitle"> Change your location? </h2>
   <!-- TEMP DIV FOR FORM -->
  <div style="background-color: #eeeeee; height: 36px; width: 144px; position: absolute; bottom: 12px;">
  </div>
  <div class="button">
    <%= link_to "#{image_tag("")}","/yourteam.html" %>
  </div>
</div>