---
facebook_url: "https://conservatives.com"
title: Your Team
---

<%= partial "signup" %>
<div class="parliamentary_candidates">
	<p class="subtitle">Parliamentary Candidates</p>
	<p> <%= lorem.sentence %> </p>
	<div class="list_of_parliamentary_candidates">
		<p class="subtitle italic_list">
			List of Parliamentary Candidates
		</p>
	</div>
</div>
<%= partial "share_this_page" %>