---
facebook_url: "https://conservatives.com"
title: Volunteer
---



<div class="volunteer_top">
	
	<h2 class= "subtitle">join team 2015</h2>

	<div class="volunteer_left">
		<%= link_to "#{image_tag("")}","#" %>
	</div>

	<div class="volunteer_right">
		<p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
		
		<div class="form_left">
			<p>First name</p>
			<div style="width: 242px; background-color: #fff; height: 36px; display: inline-block; margin-right: 24px;"></div>
			<p>Last name</p>
			<div style="width: 242px; background-color: #fff; height: 36px; display: inline-block; margin-right: 12px;"></div>
		</div>

		<div class="form_right">
			<p>Email</p>
			<div style="width: 242px; background-color: #fff; height: 36px; display: inline-block; margin-right: 24px;"></div>
			<p>Phone</p>
			<div style="width: 242px; background-color: #fff; height: 36px; display: inline-block; margin-right: 12px;"></div>
		</div>

	</div>

	<div class="button">
		<%= link_to "#{image_tag("")}","#" %>
	</div>

</div>

<%= partial "share_this_page" %>