---
facebook_url: "https://conservatives.com"
title: YOUR LOCAL TEAM
---


<%= partial "signup" %>

<div class="yourteam_response_content">

	<div class="lcoal_response_left">

		<p class="subtitle">(CITY - NAME)</p>

		<%= tag :img, :src => lorem.image('250x250', :random_color => true) %>

	</div>

	<div class="local_response_right">

		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>

		<div class="button">
			<%= image_tag "#" %>
		</div>

	</div>

</div>


<div class="your_local_association">

	<p class="subtitle">your local association<p>
	<p><strong>Email:</strong> southwarkconservatives@googlemail.com</p>
	<p><strong>Web:</strong> www.southwarkcpnservatives.com</p>
	<br>

	<p><strong>Address:</strong></p>
	<p>
	Flat 20 <br>
	Morriss House <br>
	Cherry Garden Street <br>
	Rotherhithe <br>
	London <br>
	SE16 4PQ
	</p>

		
</div>

<div class="team_postcode">
	<p>Postcode to constituency lookup provided by They Work For You.</p>
</div>








<%= partial "share_this_page" %>