---
facebook_url: "https://conservatives.com"
title: YOUR TEAM
---

<%= partial "signup" %>

<div class="yourteam_response_content">
	<div class="response_left">
		<p class="sub_title">(candidate's name)</p>
	</div>
</div>





<%= partial "share_this_page" %>